<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Inventory List</title>
</head>
<body>
    <div class="container">
        <h1>Search Results!</h1>
        <p>{{ search }}</p>
        <p><a href='/'>View your list of inventories</a></p>
    </div>
</body>
</html>
